asgiref==3.5.2
brotlipy==0.7.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.4
cryptography==38.0.1
Django==4.1.2
django-ranged-response==0.2.0
django-simple-captcha==0.5.17
flit_core==3.6.0
gunicorn==20.1.0
idna==3.2
Pillow==9.3.0
pip==22.2.2
psycopg2==2.9.3
pycparser==2.21
pyOpenSSL==22.0.0
PySocks==1.7.1
pytz==2021.3
requests==2.26.0
setuptools==65.3.0
sqlparse==0.4.3
typing_extensions==4.4.0
tzdata==2021.1
urllib3==1.26.7
wheel==0.37.1
win-inet-pton==1.1.0
wincertstore==0.2
whitenoise==6.2.0
