{% extends 'basic.html' %}
{% block title %} About {% endblock title %}
{% block body%}
{% load static %}
<section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Me</h2>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/profile.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Software engineer &amp; Web Developer.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <div class="row">
              <div>
                <h3>Relevant Skills</h3>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Python :</strong> <span>Django web framework(MTV), 孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>HTML5/CSS :</strong> <span>孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Boostrap :</strong> <span>孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Javascript :</strong> <span>略懂</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>C# / ASP.NET Core :</strong> <span>EF framework / Razor pages, 孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Git / Github :</strong> <span>孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>DBMS (CRUD) :</strong> <span>孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>AWS :</strong> <span>架設網站, 孰悉</span></li>
                </ul>
              </div>
            </div>
            <p>
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            </p>
          </div>
        </div>


      </div>
    </section>
    <section id="resume" class="resume">
      <div class="container">
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Jasper (Cheng-Yi)</h4>
              <p><em>Former process engineer in TSMC with experience in developing RPA (Robotic Process Automation) solutions with programming concepts, cross-communication skills, and data analysis in semiconductor industry. With the ability to apply full-stack knowledge to build responsive website designs. An aggressive learner who endeavors to broad and improve programming skills in this field.</em></p>

            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Chemical Engineering</h4>
              <h5>2018 - 2020</h5>
              <p><em>National Cheng Kung University, Tainan, TW</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Chemistry & Biochemistry</h4>
              <h5>2014 - 2018</h5>
              <p><em>National Chung Cheng University, Chiayi, TW</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Experience</h3>
            <div class="resume-item">
              <h4>Senior graphic design specialist</h4>
              <h5>2019 - Present</h5>
              <p><em>Experion, New York, NY </em></p>
              <ul>
                <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Semiconductor process engineer </h4>
              <h5>March 2021 - March 2022</h5>
              <p><em>TSMC F18A, Tainan, TW</em></p>
              <ul>
                <li>Designed and developed about 20 Uipath RPA (Robotic Process Automation) projects utilizing C# and VB.NET</li>
                <li>Debugged and tested at least 20 times before releasing the RPA projects </li>
                <li>As a RPA team trainer in my department</li>
                <li>Maintain of mainly N5 product (SPC of inline/offline, defect and CP yield, etc.), improving the 10% yield</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section>

{% endblock body%}