{% extends 'basic.html' %}
{% block title %} About {% endblock title %}
{% block body%}
{% load static %}
<section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Me</h2>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/profile.jpg' %}" class="img-fluid rounded-circle" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Software engineer &amp; Web Developer.</h3>
            <p class="fw-bold">
              &nbsp; &nbsp; &nbsp; &nbsp; 本人畢業於成功大學化工所，主要研究奈米孔洞油水分離機制及分離膜，今年27歲，目前居住在南投縣南投市，先前在台積電擔任半導體製程工程師，擁有一年的工作經驗，主要職責包含部門自動化流程開發及5奈米製程的產品監控及良率改善。
            </p>
            <p class="fw-bold">
              &nbsp; &nbsp; &nbsp; &nbsp; 離職後，決定給自己挑戰自我的機會，踏入軟體資訊業，從無程式背景，依序按照的課程學習到現在可以利用Python – Django web framework開發出自己的個人網頁，其中包含了前後端的靜態、動態的網頁、RWD & Boortrap點綴網頁設計、資料庫架設及運用、MTV的網頁架構、模板語言的使用、AWS網站部屬及Git版本控制管理，並且也透過社群，來提升自己的學習成效，保持樂於汲取新知識積極的態度，期許能在這快速迭代的時代，發揮所學所長。
            </p>
            <br>
            <div class="row">
              <div>
                <h3>Relevant Skills</h3>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Python :</strong> <span>Django web framework(MTV), 孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>HTML5/CSS :</strong> <span>孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Boostrap :</strong> <span>孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Javascript :</strong> <span>略懂</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>C# / ASP.NET Core :</strong> <span>EF framework / Razor pages, 孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Git / Github :</strong> <span>孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>DBMS (CRUD) :</strong> <span>孰悉</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>AWS :</strong> <span>架設網站, 孰悉</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>
    <section id="resume" class="resume">
      <div class="container">
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Jasper (Cheng-Yi)</h4>
              <p><em>Former process engineer in TSMC with experience in developing RPA (Robotic Process Automation) solutions with programming concepts, cross-communication skills, and data analysis in semiconductor industry. With the ability to apply full-stack knowledge to build responsive website designs. An aggressive learner who endeavors to broad and improve programming skills in this field.</em></p>

            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Chemical Engineering</h4>
              <h5>2018 - 2020</h5>
              <p><em>National Cheng Kung University, Tainan, TW</em></p>

            </div>
            <div class="resume-item">
              <h4>Bachelor of Chemistry & Biochemistry</h4>
              <h5>2014 - 2018</h5>
              <p><em>National Chung Cheng University, Chiayi, TW</em></p>

            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Experience</h3>

            <div class="resume-item">
              <h4>Semiconductor process engineer </h4>
              <h5>March 2021 - March 2022</h5>
              <p><em>TSMC F18A, Tainan, TW</em></p>
              <ul>
                <li>Designed and developed about 20 Uipath RPA (Robotic Process Automation) projects utilizing C# and VB.NET</li>
                <li>Debugged and tested at least 20 times before releasing the RPA projects </li>
                <li>As a RPA team trainer in my department</li>
                <li>Maintain of mainly N5 product (SPC of inline/offline, defect and CP yield, etc.), improving the 10% yield</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section>

{% endblock body%}