{% extends 'basic.html' %}
{% block title %} Blog {% endblock title %}

{% block body%}
{% load static %}
<section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Welcome to My Blog</h2>

        </div>

        <div class="row">

{% for post in posts reversed %}

          <div class="col-lg-4 col-md-6 icon-box " data-aos="fade-up">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="{{post.img.url}}" width="300" height="225" class="rounded float-start" alt="no-image" data-aos="fade-right">
            </div>
            <br>
            <div>
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">{{post.title}}</a></h4>
            <p class="description">{{post.description}}</p>
            <h6>Post By : <b>{{post.authname}}</b></h6>
            <h6>Post on : <b>{{post.timeStamp}}</b></h6>
            </div>
          </div>

{% endfor %}


        </div>

      </div>
    </section>
{% endblock body%}